{% extends 'layout.html' %}


{% block titulo %} {{nombre}} {% endblock %}


{% block header %} Datos del balance {% endblock %}


{% block cuerpo %} 

<form id="login_form" class="form_class" action="{{url_for('introducir_datos_tamaño') }}" method="POST">
    <div class="form_div">
        <h4>Introduzca los datos correspondientes a la empresa con NIF {{nombre}}: </h4>
        <br>
        <h4 style="color: red;">Del ultimo ejercicio</h4>
        <br>
        
        <table>
            <tr>
                <td>
            <label>Activo circulante</label>
            <input class="field_class" name="a_circulante_t" type="number" placeholder="Miles de €"step="0.1">
                </td>
                <td>
            <label>Pasivo liquido</label>
            <input class="field_class" name="p_liquido_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td>
                <td>
            <label>Total <br> activo</label>
            <input class="field_class" name="total_a_t" type="number" placeholder="Miles de €"step="0.1" autofocus>
                </td>
                <td>
            <label>Total<br> pasivo</label>
            <input class="field_class" name="total_p_t" type="number" placeholder="Miles de €"step="0.1">
                </td>
            </tr> 
            
            <tr> 
                <td>
            <label>Resultado de ejercicio</label>
            <input class="field_class" name="r_de_e_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td>
                <td>
            <label>Fondos propios</label>
            <input class="field_class" name="f_p_t" type="number" placeholder="Miles de €" step="0.1"autofocus>
                </td>
                <td>
            <label>Otros activos liquidos</label>
            <input class="field_class" name="otros_a_liquidos_t" type="number" placeholder="Miles de €"step="0.1">
                </td>
                <td>
            <label>Deudores <br><br> </label>
            <input class="field_class" name="deudores_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td>
            </tr>
            <tr> 
                
                <td>
            <label>Ebitda </label>
            <input class="field_class" name="ebitda_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td>
                <td>
            <label>Cash flow</label>
            <input class="field_class" name="c_f_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td>
                <td>
            <label>Tesoreria</label>
            <input class="field_class" name="tesoreria_t" type="number" placeholder="Miles de €" step="0.1"autofocus>  
                </td> 
        </table>
        <!-- <input type = "submit" value = "Enviar archivo"/> -->
        <h4>Seleccione el tamaño de la empresa: </h4>
        <select name="tamaños" class="field_class" autofocus>
            <option value="pequeña">Pequeña (de 1 a 10 empleados)</option>
            <option value="mediana">Mediana (de 11 a 50 empleados)</option>
            <option value="grande">Grande (mas de 50 empleados) </option>
            </select>
        <br>
        <br>
        <button class="submit_class" type="submit" form="login_form">Enviar</button>
    </div>
    
</form>


{% endblock %} 